@import "../../../../Scss/mixin";

.comments {
  h4 {
    font-size: 3rem;
    margin-bottom: 12px;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    i {
      margin-right: 8px;
    }
  }

  textarea {
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.8rem;
    min-height: 120px;
    width: 100%;
    height: 100%;
  }

  &__box {
    @include flex-custom(null, null, column, null, 12px);
    background-color: var(--sub-background);
    border-radius: var(--border-radius);
    padding: 16px;
    font-size: 1.8rem;
    margin-bottom: 12px;

    @media (max-width: 768px) {
      padding: 12px;
    }

    button {
      padding: 8px 12px;
      margin-left: auto;
      font-weight: 600;
    }
  }

  &__list_comment {
    > span {
      display: inline-block;
      margin-bottom: 12px;
    }

    li {
      background-color: var(--sub-background);
      border-radius: var(--border-radius);
      padding: 16px;
      margin-bottom: 12px;

      @media (max-width: 768px) {
        padding: 12px;
      }

      .comments__user {
        display: flex;
        gap: 12px;

        figure {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #ccc;
          overflow: hidden;
        }

        .comments__user_content {
          flex: 1;

          span {
            font-weight: 600;
            color: var(--primary-color);
          }
        }
      }
    }

    .comments__actions {
      @include flex-custom(center, end, null, wrap, 12px);

      button {
        font-weight: 600;
      }

      span {
        font-size: 1.4rem;
        color: #ccc;
        white-space: nowrap;
      }
    }
  }
}
