@import "../../../../Scss/mixin";

.suggestions {

  > header {
    @include flex-custom(center, space-between, null, null, 12px);
    margin: 24px 0;

    > h4 {
      color: var(--primary-color);
      font-size: 3rem;

      @media (max-width: 768px) {
        font-size: 2.4rem;
      }
    }

    .suggestions__options {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-right: 6px;

        button {
            @media (max-width: 1024px) {
                flex: 1;
            }
        }

        button.active {
           @include active-btn();
        }
    }
  }
}
